<%- include('header.ejs') %>

<!--This is the first line buttons -->
<section class="row-buttons">
    <div class="button-container">
        <button class="dashboard-button" onclick="window.location.href='/my-courses'">
            <i class="bi bi-book"></i> My Courses
        </button>
        <button class="dashboard-button" onclick="window.location.href='/todo-list'">
            <i class="bi bi-list-check"></i> To-Do List
        </button>
        <button class="dashboard-button" onclick="window.location.href='/books'">
            <i class="bi bi-journal-bookmark"></i> Books I've Read
        </button>
        <button class="dashboard-button" onclick="window.location.href='/dictionary'">
            <i class="bi bi-file-earmark-text"></i> Dictionary
        </button>
        <button class="dashboard-button" onclick="window.location.href='/forums'">
            <i class="bi bi-chat-dots"></i> Forums
        </button>
    </div>
</section>






<%- include('footer.ejs') %>
